
.contenedorTitulo{
  justify-content: center;
}
.titulo{
text-align: center;
    color:#2B7E74 ;
    font-weight: 800;
    line-height: 45px;
    padding: 40px;
}


.ContenedorCartas{
  display: flex;
  flex-wrap: wrap;
  height: 1000px;
  justify-content: center;
  margin: auto;
  max-width: 1500px;
  padding: 10px;
}



.imagen{
  height: 260px;
  width: 249px;
  justify-items: center;
  border-radius: 50%;
  margin: 10px;

  
}

.cartas{
display: flex;
flex-direction: row;
gap: 30px;
flex-wrap: wrap;
justify-content: center;
width: 80%;
}


.cartas p{
  font-family: Poppins,sans-serif;
  font-style: normal;
  color: #2B7E74;
  text-align: center;
  font-size: 30px;
  
}




 .carta{
  align-items: center;
 }
 
 
 
 
 .logo {
  height: 50px;
  width: 50px;
 display: block;
 margin: auto;
 padding: 4px;
}


.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* .titulo{
    position: absolute;
    width: 546px;
    height: 103px;
    left: 381px;
    top: 94px;
    
    font-family: 'Dela Gothic One';
    font-style: normal;
   
    font-size: 64px;
    line-height: 93px;
    text-align: center;
    color: #2B7E74;
    content: attr(data-text);
}


.footer{
    background: linear-gradient(180deg, rgba(78, 26, 51, 0) 0%, #871D50 100%);
    backdrop-filter: blur(250px);
    mix-blend-mode: normal;
    backdrop-filter: blur(250px);
} 




@media (min-width: 30em) {
    .titulo {
      font-size: 3em;
    }
  }
  @media (min-width: 40em) {
    .titulo {
      font-size: 5em;
    }
  }
  */

