.contenedor{
    display: flex;
}

.footer{
    position: absolute;
    width: 1280px;
    height: 217px;
    left: -2px;
    top: 615px;
    
    background: linear-gradient(180deg, rgba(54, 19, 36, 0) 0%, #871D50 100%);
    mix-blend-mode: normal;
    filter: blur(40px);
    backdrop-filter: blur(250px);
} 

/* position: absolute;
width: 1280px;
height: 217px;
left: -2px;
top: 615px;
background: linear-gradient(110deg, #561d53 0%, #871D50 100%);
mix-blend-mode: normal;
filter: blur(31px);
-webkit-backdrop-filter: blur(250px);
backdrop-filter: blur(9px); */


.imagen{
    
width: 207px;
height: 203px;
top: 231px;

border-radius: 101.5px;
margin: 10px;
margin-top: 325px;
}

.imagenes{
    position: absolute;
    width: 176px;
    height: 166px;
    top: 425.49px;
    margin: 10px;
    border-radius: 101.5px;
}

.imagenes:hover{
    animation-name: gixaxb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fondo{
    background: rgba(54, 19, 36, 0);
    height: 100%;
}

.titulo{
   
width: 144px;
height: 33px;
font-family: 'Dela Gothic One';
animation-name: gixaxb;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
font-size: 24px;
color: #282929;
}


.compras{
    position: absolute;
    width: 546px;
    height: 103px;
    left: 381px;
    top: 94px;
    
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 93px;
    text-align: center;
    
    color: #2B7E74;
}


@media (min-width: 30em) {
    .compras {
      font-size: 3em;
    }
  }
  @media (min-width: 40em) {
    .compras {
      font-size: 5em;
    }
  }
 