
/* .img_biblioteca {
  background: black;
} */
.img_biblioteca:hover{
  animation-name: gixaxb;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes gixaxb{
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}



.card_biblioteca {
  background: linear-gradient(180deg, rgba(220, 18, 247, 0.253) 1.04%, rgba(76, 95, 99, 0.1056) 66.67%, rgba(204, 34, 207, 0.066) 100%);
  border-radius: 50px;
  
}


.cardtitulo_biblioteca{
  color: rgba(35, 204, 204, 0.59);color: rgba(35, 204, 204, 0.59);
}


.cardtext_biblioteca{
  color: #8a4883;
}

.paginado{
  display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Unbounded', cursive;
    margin: 20px;
}

.nohay{
  display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}


.reproducir audio {
  visibility: hidden;
}




.descarga a {
  background:
    linear-gradient(
      to right,
      rgb(16, 36, 36),
      rgb(9, 19, 19)
    ),
    linear-gradient(
      to right,
      rgb(86, 27, 163),
      rgba(255, 0, 180, 1),
      rgb(193, 10, 213)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.descarga:hover{
  
}



/* .contenedor {
  display: flex;
  flex-direction: column;
  gap: 100px;
} */




.titulo {
  font-size: 60px;
  padding: 20px;
  width: 100%;
  height: 15%;
  text-align: center;
  font-family: Poppins,sans-serif;
  font-style: normal;
  color: #2B7E74;
  text-align: center;
}

/* .elementos {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
 
} */

/* s */