.imagenportada {
  border-radius: 25px;
}
.divLicencias {
  border-top: solid 1px;
  border-color: black;
  margin-top: 30px;
  overflow-y: scroll;
  height: 250px;
}
.cardProducto {
  margin: 5px;
  cursor: pointer;
}

.cardSelect {
  border-color: blue;
  margin: 10px;
}
