.box {
  overflow: hidden;
  position: relative;
}
.box .imagenportada {
  border-radius: 25px;
  object-fit: cover;
  height: 500px;
}

.box .hover {
  width: 0%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.466);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 25px;
}

.box:hover .hover {
  width: 500px;
}
.divLicencias {
  border-top: solid 2px;
  border-color: #db7fa0;
  margin-top: 1px;
  padding: 2px;

  height: 200px;
}
.divLicenciasCrear {
  border-top: solid 2px;
  border-color: #ffffff;
  margin-top: 1px;
  padding: 2px;
  overflow-y: scroll;
  height: 200px;
}
.cardProductoCrear {
  color: #111111;
  background: #f8f9fa;
  margin: 5px;
}
.cardProducto {
  color: #f7d0de;
  background: rgba(119, 43, 80, 0.74);
  margin: 5px;
  cursor: pointer;
}

.cardSelect {
  border: solid 3px;
  border-color: #f7d0de;
  margin: 10px;
}
.espaciado {
  padding: 50px;
}

.btonLicencia {
  background-color: #f7d0de;
}
.tituloProducto {
  color: rgba(35, 204, 204, 0.59);
}

.texto {
  margin-top: 10px;
  color: rgba(115, 201, 201, 0.59);
}
