@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');


.contendor {
  align-items: center;
  background: #171316;
  justify-content: center;
  margin-top: 1rem;
}

.containerTopBeats{
  position: sticky;
  height: 30%;
  align-items: center;
}
.topbeats {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 2%;
  font-family: 'Unbounded', cursive;
  color: #1f9999;
  width: 60rem;
  height: 6rem;
}
.topbeats h1{
  font-size: 200%;
  text-shadow: 0.4em 0.4em 0.2em black;
  transition: 0.5s;
}

.topbeats h1:hover{
  position: absolute;
  font-size: 300%;
  text-shadow: 0.4em 0.4em 0.2em rgb(78, 37, 78);
}


.lastest{
  color: #1f9999;
  font-size: 300%;
  text-shadow: 0.4em 0.4em 0.2em black;
  transition: 0.5s;
  font-family: 'Unbounded', cursive;
}

.lastest:hover{
  font-size: 400%;
  text-shadow: 0.4em 0.4em 0.2em rgb(78, 37, 78);
}



.last{
  font-size: 200%;
  text-shadow: 0.4em 0.4em 0.2em black;
  transition: 1s;
}

.last:hover{
  position: absolute;
  font-size: 300%;
  text-shadow: 0.4em 0.4em 0.2em rgb(78, 37, 78);
}

.topcar{
margin: 0;
}

@media (min-width: 20em) {
  .topbeats {
    font-size: 2em;
  }
  .topbeats span::before,
  .topbeats span::after {
    display: block;
  }
}
@media (min-width: 30em) {
  .topbeats {
    font-size: 3em;
  }
}
@media (min-width: 40em) {
  .topbeats {
    font-size: 5em;
  }
}
@media (min-width: 60em) {
  .topbeats {
    font-size: 8em;
  }
}

.topbeats {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Media query para dispositivos pequeños */
@media (max-width: 576px) {
  .contendor {
    padding: 10px;
  }
  
  .topbeats {
    font-size: 1.5rem;
  }
}
