.text_color_keys {
    color: #2B7E74;
}

.img_keys {
    background: rgb(0, 0, 0);
}

.img_keys:hover {
    animation-name: gixaxb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes gixaxb {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card_keys {
    background: linear-gradient(120deg, rgb(80, 0, 90) 10%, rgb(0, 43, 51) 60%, rgb(66, 0, 66) 90%);
    /* border-radius: 20px; */
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; */
}