.navbar {
    background: rgb(54, 19, 36, 1);
    box-shadow: 0 0 8px #0007, 0px 0 6px 4px #0008 inset;
    font-family: 'Unbounded', cursive;
    transition: 1s;
}

.navbar_brand {
    height: 65px;
    font-size: 35px;
    font-weight: bold;
    color: #DB7FA0;
    transition: 0.5s;
}

.dropdown_menu {
    width: 250px;
    max-height: 386px;
}

.card_overlay {
    padding: 0;
}

.dropdown_contenedor {
    overflow-y: auto;
    max-height: 266px;
}

.card_header {
    height: 30%;
    background: rgba(0, 0, 0, 0.582);
    color: white;
}

.card_body {
    height: 40%;
}

.card_fooster {
    height: 30%;
    background: rgba(0, 0, 0, 0.582);
    color: white;
}