 .productcards {
  background: linear-gradient(
    180deg,
    rgba(39, 26, 41, 0.253) 1.04%,
    rgba(76, 95, 99, 0.1056) 66.67%,
    rgba(58, 37, 58, 0.066) 100%
  );
  border-radius: 23px;
  padding: 2%;
}

.cardcont{

    background: linear-gradient(180deg, rgba(213, 50, 233, 0.253) 1.04%, rgba(76, 95, 99, 0.1056) 66.67%, rgba(204, 34, 207, 0.066) 100%);
    border-radius: 50px;

}
.cardimg{
    border-radius: 100%;
    display: inline-block;
    padding: 3%;
    transition: 0.5s;
} 
.cardimg:hover{
  border-radius: 100%;
  display: inline-block;
  padding: 3%;
  width: 110%;
} 

.cardimg:hover{
    animation-name: gixaxb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes gixaxb{
    from{
        transform: rotate(0deg);

    }to{
        transform: rotate(360deg);
    }
}



.cardtitle{
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 25px;
    text-align: center;
    font-family: 'Unbounded', cursive;
    color: #55CDD5;
} 

.cardby{
font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;
color: #8a4883;
text-align: center;
font-family: 'Unbounded', cursive;
}

.marquee {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    overflow: hidden;
  }
.carddesc{
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: rgba(35, 204, 204, 0.59);
  list-style: none;
  animation: scrolling 20s linear infinite;
  white-space: nowrap;
  -webkit-animation: scrolling 20s linear infinite;
  font-family: 'Unbounded', cursive;
}

@keyframes scrolling {
    0% { transform: translateX(0) }
    100% { transform: translateX(-100%) }
  }



  .card{
    padding: 1%;
  }


  .paginationcontainer ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Unbounded', cursive;
  }
  
  .paginationcontainer ul li a{
    background-color: transparent;
    width: 20vw;
    height: 5vh;
    transition: 1s;
  }

  .paginationcontainer ul li a:hover{
    background: linear-gradient(180deg, rgba(213, 50, 233, 0.253) 1.04%, rgba(76, 95, 99, 0.1056) 66.67%, rgba(204, 34, 207, 0.066) 100%);

  }
  
  .paginationcontainer ul li a:focus{
    background: linear-gradient(180deg, rgba(213, 50, 233, 0.253) 1.04%, rgba(76, 95, 99, 0.1056) 66.67%, rgba(204, 34, 207, 0.066) 100%);
    
  }