tr, td
{
    font-size: 14px;
}

.thead_dark
{
    line-height: 50px;
    background-color: slategrey;
    color: gold;
}

.tr
{
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 30px;
}

.td_left
{
    padding-left: 20px;
}

.td_centrado
{
    text-align: center;
}

.tr_sombreado:hover
{
    background-color: slategrey;
    color: gold;
}

.imagen
{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
}

.boton
{
    width: 80px;
    height: 30px !important;
    line-height: 30px !important;
    border-radius: 10px;
    font-size: 14px;
}

.button_left
{
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.btn_Crear
{
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn_Volver
{
    margin-bottom: 10px;
}

.paginacion
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.link
{
    text-decoration: none;
}
