tr, td
{
    font-size: 14px;
}

.tr
{
    /*
    background-color: black;
    color: white;
    */
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 30px;
}

.td_centrado
{
    text-align: center;
}

.tr_sombreado:hover
{
    background-color: slategrey;
    color: gold;
}

.imagen
{
    width: 70px;
    height: 70px;
}

.boton
{
    width: 80px;
    height: 30px !important;
    line-height: 30px !important;
    border-radius: 10px;
    font-size: 14px;
}

.btn_Crear
{
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn_Volver
{
    margin-bottom: 10px;
}

.table_listado
{
    margin-top: 10px;
}

.paginacion
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

