.registrocard {
    max-width: 400px;
    background: rgb(23, 19, 22);
    background: linear-gradient(0deg, rgba(23, 19, 22, 1) 0%, rgba(54, 19, 36, 1) 36%);
}

.placeholderglow {
    height: 58px;
}
.container {
    background-color:transparent;
}
.editarcard {
    background-color: transparent;
}