@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');

.dadcontainer{

    display: flex;
    flex-direction: row;
}
.filtercontainer{
    background: #1D1015;
    width: 36vh;
    height: 60vw;
    margin-left: 3%;
    padding: 1.5%;
    border-radius: 50px;
}

.titlefilter{
    font-family: 'Unbounded', cursive;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 35px;
text-align: center;
color: #09bfc9;
  text-shadow: 0.8em 0.6em 0.2em black;
  transition: 1s;
}
.titlefilter:hover{
  color: #ae33b3;
  text-shadow: 0.4em 0.4em 0.2em rgb(43, 89, 107);
}
.containerfilters{
  display: flex;
  flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 30vh;
    height: 55vw;
    background: linear-gradient(180deg, rgba(69, 69, 69, 0.253) 1.04%, rgba(78, 82, 83, 0.0264) 45.83%, rgba(117, 115, 117, 0.066) 100%);
    border-radius: 47px;
    padding: 10%;
}


.searched{
font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 300;
font-size: 48px;
color: #394545;
text-align: center;
margin: 1.5%;
font-family: 'Unbounded', cursive;
}

.acordion{
    background-color: transparent;
    border-color: rgb(44, 61, 66);
    margin: 1%;
    font-family: 'Unbounded', cursive;
    
}
.acordion button{
  font-family: 'Unbounded', cursive;
    background-color: transparent;
    color: #537472;
    margin: 1%;
    transition: 1s;
}
.acordion button:hover{
    background-color: #412142;
    color: #3c7e79;
    margin: 1%;
    text-shadow: 0.8em 0.6em 0.2em black;
}
.acordion::after{
    background-color: transparent;
}
.acordion button:focus{
    background-color: transparent;
    color: rgb(56, 228, 255);
}

.gencheck label{
    color: rgb(45, 134, 134);
}



  

.paginationcontainer ul{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Unbounded', cursive;
  }

  .paginationcontainer ul li a{
    background-color: transparent;
    width: 10vw;
    height: 4vh;
  }

  .paginationcontainer ul li a:hover{
    background: linear-gradient(180deg, rgba(213, 50, 233, 0.253) 1.04%, rgba(76, 95, 99, 0.1056) 66.67%, rgba(204, 34, 207, 0.066) 100%);
  }
  
  .paginationcontainer ul li a:focus{
    background: linear-gradient(180deg, rgba(213, 50, 233, 0.253) 1.04%, rgba(76, 95, 99, 0.1056) 66.67%, rgba(204, 34, 207, 0.066) 100%);
  }

.input{
    background-color: transparent;
    border-color: #1b3536;
    font-family: 'Unbounded', cursive;
    color: #09bfc9;
}
.input:focus{
    background-color: transparent;
    
}

.select {
    appearance: none;
    background-color: transparent;
    border-color: #1b3536;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    color: #09bfc9;
    font-family: 'Unbounded', cursive;
  }


  .option {
    font-size: 16px;
    padding: 10px;
    background-color: linear-gradient(180deg, rgba(213, 50, 233, 0.253) 1.04%, rgba(76, 95, 99, 0.1056) 66.67%, rgba(204, 34, 207, 0.066) 100%);
  }

  .select:focus {
    box-shadow: 0 0 10px #326474;
  }
  
  .option:checked {
    background-color: #ddd;
  }
  
  .buttonreset{
    transition: 0.8s;
    width: 6vh;
    height: 4vh;
  }


  .buttonreset:hover{

    background-color: rgba(108, 39, 114, 0.267);
    color: #09bfc9;
    border-color: #412142;
    width: 15vh;
  }