@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');

.carrusel {
  margin: auto;
  align-items: center;
}
.carrusel h3 {
  font-family: 'Unbounded', cursive;
  font-style: normal;
  font-size: 6vh;
  line-height: 52px;
  text-align: center;
  text-shadow: 0.5em -0.5em 0.2em rgba(0, 0, 0, 0.884);
  background: linear-gradient(
    180deg,
    rgba(163, 55, 190, 0.692) 1.56%,
    #13d1eb 59.9%,
    rgba(37, 73, 71, 0.685) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-stroke: 4px linear-gradient(
    180deg,
    rgb(48, 114, 119) 1.56%,
    #3393a1 59.9%,
    rgba(224, 51, 195, 0.514) 100%
  );
  transition: 1s;
}
.carrusel a {
  text-decoration: none;
}

.carrusel p {
  color: rgb(152, 88, 160);
  font-family: 'Unbounded', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  -webkit-text-stroke: 4px linear-gradient(
    180deg,
    rgba(226, 4, 255, 0.938) 1.56%,
    #ec20ff 59.9%,
    rgb(196, 11, 165) 100%
  );
}

.carrusel img {
  object-fit: cover;
  border-radius: 10%;
  height: 75vh;
}

.carrusel h3:hover{
  overflow: visible;
 background-color: rgb(66, 13, 59);
 transform:   translate(0px, 0)rotateY(30deg)rotateX(-30deg);

}
